.about {
  animation-name: about;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  transition: opacity 0.3s ease;
}
.about-img {
  animation-name: about-img;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  transition: opacity 0.3s ease;
}

@keyframes about {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes about-img {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
