.word1 {
  animation: wordOneFade 2s;
  -webkit-animation: wordOneFade 2s;
  -moz-animation: wordOneFade 2s;
  -o-animation: wordOneFade 2s;
  -ms-animation: wordOneFade 2s;
}

.word2 {
  animation: wordTwoFade 2s;
  -webkit-animation: wordTwoFade 2s;
  -moz-animation: wordTwoFade 2s;
  -o-animation: wordTwoFade 2s;
  -ms-animation: wordTwoFade 2s;
}

.word3 {
  animation: wordThreeFade 2s;
  -webkit-animation: wordThreeFade 2s;
  -moz-animation: wordThreeFade 2s;
  -o-animation: wordThreeFade 2s;
  -ms-animation: wordThreeFade 2s;
}

.word4 {
  animation-name: word-4;
  animation-duration: 1s;
  animation-fill-mode: backwards;
}
.word5 {
  animation-name: word-5;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes word-4 {
  0% {
    visibility: hidden;
    margin-left: 50px;
  }
  20% {
    visibility: hidden;
  }

  100% {
    visibility: visible;
  }
}
@keyframes word-5 {
  0% {
    visibility: hidden;
    margin-top: 7%;
  }
  20% {
    visibility: hidden;
  }

  100% {
    margin-top: 0%;
    transform: translateY(10%);
  }
}
@keyframes wordOneFade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes wordOneFade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes wordOneFade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes wordOneFade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes wordOneFade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes wordTwoFade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes wordTwoFade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes wordTwoFade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes wordTwoFade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes wordTwoFade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes wordThreeFade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes wordThreeFade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes wordThreeFade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes wordThreeFade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes wordThreeFade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
